body,
html {
    /* overflow-y: hidden; */
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(200, 200, 200, 0.651); */
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1.5px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* scroll-behavior: ; */
}

.modalContainer {

    /* width: 40%; */
    /* height: 500px; */
    border-radius: 25px;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: flex; */
    /* position: fixed; */
    flex-direction: column;
    padding-bottom: 15px;
    /* padding: 25px; */
}




.titleCloseBtn {
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* background-color: #CBC3E3; */
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.titleCloseBtn button {
    padding: 5px;
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    margin-bottom: 20px;
}

.modalContainer .body {
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    padding: 8px;
    text-align: center;
}



.formcontainer {
    /* position: relative; */
    text-align: center;
    /* box-sizing: border-box; */
}

.formcontainer div {
    /* box-sizing: border-box; */
    display: block;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;

}

.form-inputs input {
    height: 2em;
    padding: 0 15px;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2em;
    border-radius: 31px;
    outline: none;
    border: none;
    background-color: white;
    width: 500px;
}

.form-inputs textarea {
    padding: 15px 15px;
    font-size: 18px;
    color: #8f8fa1;
    border-radius: 31px;
    outline: none;
    border: none;
    background-color: white;
    width: 500px;
    height: 220px;
    margin-bottom: 20px;
}




.form-inputs * {
    margin-top: 10px;
    text-align: start;
    display: block;
}

.pickdate {
    height: 2em;
    padding: 0 35px;
    font-size: 15px;
    color: #8f8fa1;
    line-height: 1.2em;
    border-radius: 31px;
    outline: none;
    border: none;
    background-color: white;
    width: 190px;
}

.pickdateCover {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pickdatelabel {
    margin-top: 30px;
}

.start-label {
    margin-right: 80px;

}



.newdatebtn {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: 15px;
}

.newdatebtn:disabled {
    pointer-events: none;
}

.newdatebtn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color: white;
    color: black;
}

.newdatebtn:active {
    box-shadow: none;
    transform: translateY(0);
}

button.com {
    background-color: #50C878;

}

button.com:hover {
    background-color: white;
    color: #50C878;
    border: 2px solid #50C878;
}